*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Courgette", cursive;
  color: white;
}

.header {
  display: flex;
  flex-direction: column;
}

.hero-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100%;
  background-image: url(../img/apiary-g258426adb_1920.jpg);
  background-size: cover;
  background-position: center;
  z-index: 1;
  overflow: hidden;
  text-align: center;
}
.hero-img a {
  z-index: 5;
}
.hero-img-dark {
  position: absolute;
  background-color: rgba(12, 12, 12, 0.5);
  background-image: linear-gradient(310deg, rgba(12, 12, 12, 0.5) 100%, rgba(12, 12, 12, 0.5) 100%);
  height: 70vh;
  width: 100%;
  z-index: 2;
}
.hero-img-box {
  z-index: 3;
}
.hero-img__title {
  text-transform: uppercase;
  font-size: 4rem;
}
.hero-img__text {
  text-transform: uppercase;
  font-size: 2rem;
  margin-top: 0.5em;
  padding: 0 0.5em;
}
.hero-img__btn {
  background-color: #ffbf00;
  width: 250px;
  height: 50px;
  margin-top: 2.5em;
  border-radius: 15px;
  border: none;
  text-transform: uppercase;
  font-family: arial;
  font-weight: bold;
  max-width: 15em;
  z-index: 3;
  cursor: pointer;
  transition: 0.3s;
}
.hero-img__btn:hover {
  transform: scale(1.2);
}

.section {
  background-color: rgb(12, 12, 12);
  background-image: linear-gradient(310deg, rgb(12, 12, 12) 100%, rgb(12, 12, 12) 100%);
  color: #ffbf00;
}
.section h1 {
  font-size: 4em;
}
.section img {
  height: 50px;
  color: orange;
  background-color: yellow;
}
.section .svgg {
  height: 80px;
  width: 80px;
  fill: #ffbf00;
  width: 10em;
  height: 10em;
  margin: 1em;
}
.section .svgg2 {
  fill: #ffbf00;
  stroke: #ffbf00;
  stroke-miterlimit: 10;
  stroke-width: 1.91px;
  width: 10em;
  height: 10em;
  margin: 1em;
}
.section-first-h1 {
  padding: 1em;
  text-align: center;
}
.section-box_small {
  display: flex;
  flex-direction: column;
  padding: 1em;
  justify-content: center;
  align-items: center;
  padding-bottom: 5em;
}
.section-box_small h2 {
  font-weight: bold;
  letter-spacing: 0.1em;
  font-size: 3em;
  padding-bottom: 0.5em;
}
.section-box_small p {
  font-size: 2em;
}
.section-box_small--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.section-two {
  background-color: #fdd333;
  color: black;
  padding: 0;
  margin-top: -2em;
}
.section-two--smallText {
  padding-top: 2em;
  text-align: center;
  font-size: 2em;
  color: gray;
}
.section-two h2 {
  font-size: 4em;
  text-align: center;
}
.section-two hr {
  margin: 0 auto;
  margin-top: 1.4em;
  width: 20%;
  border: black 1px solid;
}
.section-two-box__small {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.section-two-box__small--img {
  background-size: cover;
  background-position: center;
  z-index: 1;
  width: 100%;
  overflow: hidden;
  text-align: center;
  padding: 2em;
  margin: 0 auto;
}
.section-two-box__small--text {
  text-align: center;
  font-size: 2em;
  z-index: 1;
}
.section-two-box__small--text_last {
  padding-bottom: 2.5em;
}
.section-third {
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section-third h2 {
  padding-top: 2em;
}
.section-third-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-third-box--text {
  padding-bottom: 1.5em;
}
.section-third--circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(84, 84, 84);
  background-image: linear-gradient(118deg, rgb(84, 84, 84) 20%, rgb(34, 34, 34) 80%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

@media only screen and (min-width: 570px) {
  hr {
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  .hero-img__btn {
    display: none;
  }
}
@media (min-width: 570px) {
  .hero-img__title {
    font-size: 6rem;
  }
  .hero-img__text {
    font-size: 2rem;
  }
  .section-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .section-box-item {
    display: flex;
    flex-direction: column;
    padding: 2em;
  }
  .section-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media (min-width: 768px) {
  .hero-img__title {
    font-size: 8rem;
  }
  .hero-img__text {
    font-size: 3rem;
  }
  .section-box {
    display: flex;
    flex-direction: row;
    padding-left: 3em;
    padding-right: 3em;
    margin: 0;
  }
  .section-box_small {
    width: 50%;
    margin: 0;
  }
  .section-box_small .pad {
    margin: 2em;
  }
  .section-box-item {
    display: flex;
    flex-direction: column;
    padding: 1em;
  }
  .section-first h1 {
    font-size: 5em;
  }
  .section-first__text {
    font-size: 3rem;
  }
  .section-first-price {
    font-size: 4rem;
  }
}
@media (min-width: 992px) {
  .hero-img__title {
    font-size: 8rem;
  }
  .hero-img__text {
    font-size: 3rem;
  }
  .section-first h1 {
    font-size: 5.5em;
  }
}
@media (min-width: 1200px) {
  .hero-img {
    height: 100vh;
  }
  .hero-img-dark {
    height: 100vh;
  }
  .hero-img__title {
    font-size: 10rem;
  }
  .hero-img__text {
    font-size: 4rem;
  }
  .section-box-item__addons {
    overflow: hidden;
    padding: 0;
    height: 60vh;
  }
  .section-box-item__addons img {
    display: block;
    transition: 0.3s;
  }
  .section-box-item__addons img:hover {
    transform: scale(1.2);
    z-index: 0;
  }
  .section-first h1 {
    font-size: 6.5em;
  }
  .section-box {
    width: 70%;
    margin: 0 auto;
  }
}/*# sourceMappingURL=style.css.map */